
h3,p{
    color:white;
}

.login-wrap {
    width: 500px;
    border: 1px solid #7731e7;
    padding: 25px;
    position: absolute;
    top: 10%;
    left: 5%;
    justify-content: center;
    align-items: center;
    background-color:rgb(41, 41, 41);
    border-radius: 10px;
    font-family: 'calibri';
}

#usuario,#clave{
    background-color:rgb(41, 41, 41);
    color:white;
}

#opcion_rec, #opcion_reg{ 
    color:rgb(39, 243, 243);
    text-decoration: none;
}

button #btn_enviar .btn{
    background-color: aqua;
}

         
