#imagen-cafe{
    width:30%;
    justify-content: center;
    align-items: center;
}


.icon-clave, .icon-user{
    color:white;
}

#h3-login,#p-login{
    color:white;
}

#usuario,#clave{
    color:white;
    border-color: transparent transparent blue transparent;
}

#usuario::placeholder,#clave::placeholder {color: rgb(255, 255, 255);opacity: 0.7;}

#opcion_rec, #opcion_reg{ 
    color:rgb(39, 243, 243);
    text-decoration: none;
    font-size: 16px;
    margin:0%;
}

#opcion_rec:hover, #opcion_reg:hover{
    color:rgb(238, 238, 238);
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  
  #loginForm input{
      display: inline-block;
      position: relative;
      float: none;
      }

  #loginForm input[type="text"] {
      width: calc(100% - 40px);
  }
  #loginForm input[type="password"] {
      width: calc(100% - 40px);
  }
  #loginForm input[type="submit"] {
      width: 76px;
      top: auto;
      right: auto;
  }